extends layout

head
  title Prices | mstr.ws
  link(rel="stylesheet", href="/components/font-awesome/css/font-awesome.min.css")
  link(rel="stylesheet", href="/styles/css/main.min.css")

// <meta name="viewport" content="width=device-width, initial-scale=1">

block content
  #root
