html {
  background: lighten($bg-color, 1%);
}

.main-container {
  margin-top: 30px;
}

.app {
  .header {
    margin-top: 5px;

    &::before {
      content: '';
      display: block;
      height: 5px;
      width: 100%;
      position: absolute;
      top: -5px;
      background: linear-gradient(to right, #d9eaf9 0%, #1fc8db 30%, #24e6ac 70%, #eaf7ff 100%);
    }

  }
}

.header-logo {
  width: 110px;
  padding: 0;
  margin-right: 10px;

  .logo-title {
    margin: 0;
    text-align: center;
    color: #888;
    letter-spacing: 0.1rem;
  }

  .main-logo {
    display: none;
    margin: auto;
    height: 35px;
  }

  &:hover {
    background: #fefefe;

    .logo-title {
      display: none;
    }

    .main-logo {
      display: block;
    }
  }
}
