html {
  background: lighten($bg-color, 1%);
}

.main-container {
  margin-top: 30px;
}

.content-container {
  max-width: 770px;
  margin: auto;
}

.app {
  .nav {
    margin-top: 5px;

    .container {
      max-width: 960px;
    }

    &::before {
      content: '';
      display: block;
      height: 5px;
      width: 100%;
      position: absolute;
      top: -5px;
      background: linear-gradient(to right, #d9eaf9 0%, #1fc8db 30%, #24e6ac 70%, #eaf7ff 100%);
    }

  }

  .footer {
    background: white;
    padding-bottom: 25px;

    .container {
      max-width: 960px;
      border-top: 1px solid #eee;
      padding-top:25px;
    }
  }
}


.right-side {
  float: right;
}

.nav-logo {
  width: 110px;
  padding: 0;
  margin-right: 10px;

  .logo-title {
    margin: 0;
    text-align: center;
    color: #888;
    letter-spacing: 0.1rem;
  }

  .main-logo {
    display: none;
    margin: auto;
    height: 35px;
  }

  &:hover {
    background: #fefefe;

    .logo-title {
      display: none;
    }

    .main-logo {
      display: block;
    }
  }
}

.button.is-primary.is-outlined {
  &:hover,
  &:focus {
    background: transparent;
    color: darken($turquoise, 15%);
  }
}
.button.is-info.is-outlined {
  &:hover,
  &:focus {
    background: transparent;
    color: darken($blue, 15%);
  }
}
.button.is-warning.is-outlined {
  &:hover,
  &:focus {
    background: transparent;
    color: darken($yellow, 15%);
  }
}
.button.is-danger.is-outlined {
  &:hover,
  &:focus {
    background: transparent;
    color: darken($red, 15%);
  }
}