html {
  background: lighten($bg-color, 1%);
}

html,
body,
#root,
.app {
  height: calc(100% - 5px);
}

.main-container {
  margin-top: 30px;
}

.content-container {
  max-width: 770px;
  margin: auto;
}

.app {
  .nav {
    margin-top: 5px;

    .container {
      max-width: 960px;
    }

    &::before {
      content: '';
      display: block;
      height: 5px;
      width: 100%;
      position: absolute;
      top: -5px;
      background: linear-gradient(to right, #d9eaf9 0%, #1fc8db 30%, #24e6ac 70%, #eaf7ff 100%);
    }

  }

  .app-container {
    min-height: 100%;
    margin-bottom: -55px;

    &::after {
      content: "";
      display: block;
      height: 70px;
    }
  }


  .app-footer {
    background: white;
    height: 70px;
    padding-top: 20px;
    padding-bottom: 5px;
    margin-top: -5px;

    .container {
      max-width: 960px;
      border-top: 1px solid #eee;
      padding-top:20px;
    }
  }
}


.right-side {
  float: right;
}

.nav-logo {
  width: 110px;
  padding: 0;
  margin-right: 10px;

  .logo-title {
    margin: 0;
    text-align: center;
    color: #888;
    letter-spacing: 0.1rem;
  }

  .main-logo {
    display: none;
    margin: auto;
    height: 35px;
  }

  &:hover {
    background: #fefefe;

    .logo-title {
      display: none;
    }

    .main-logo {
      display: block;
    }
  }
}

.button.is-primary.is-outlined {
  &:hover,
  &:focus {
    background: transparent;
    color: darken($turquoise, 15%);
  }
}
.button.is-info.is-outlined {
  &:hover,
  &:focus {
    background: transparent;
    color: darken($blue, 15%);
  }
}
.button.is-warning.is-outlined {
  &:hover,
  &:focus {
    background: transparent;
    color: darken($yellow, 15%);
  }
}
.button.is-danger.is-outlined {
  &:hover,
  &:focus {
    background: transparent;
    color: darken($red, 15%);
  }
}

button.button {
  display: inline-block;
}


.table {
  .number-column {
    text-align: center;
    z-index: 700;
  }

  .name-column {
    width: 65%;
    z-index: 700;
  }

  .unit-column {
    width: 20%;
    z-index: 700;
  }

  .cost-column {
    width: 10%;
    z-index: 700;
  }
}

.table-header {
  &:hover tr {
    background: transparent !important; // For overlapping the bulma's rule
  }

  th {
    font-weight: 400;
    border-bottom: 1px solid #d3d6db;
  }
}

.table-body {
  border-left: 1px solid rgba(0, 0, 0, .12);
  border-right: 1px solid rgba(0, 0, 0, .12);
  border-bottom: 1px solid rgba(0, 0, 0, .12);

  tr {
    &:hover {
      background: #fafafb;
    }
  }

  td {
    border-bottom-color: rgba(0,0,0,.05)
  }

  .editing {
    padding: 0;
  }
}

.editing { // For editing cells
  .input {
    height: 37px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 0;
    border-color: $yellow;
    margin-top: -1px;
    margin-left: -9px;
    padding-left: 18px;
  }

  &:last-child {
    .input {
      height: 38px;
      box-sizing: content-box;
      padding-bottom: 0;
      padding-right: 0;
      width: calc(100% - 10px);
      height: 100%;
    }
  }

  &:nth-child(2) {
    .input {
      margin-left: 0;
      padding-left: 9px;
      width: calc(100% - 7px);
    }
  }
}

.table-body.has-error {
  .input {
    border-color: $red !important;
  }
}