.price-content.new-price {
  .input {
    border-color: $green;
  }
}

.title.price-title.not-fieled,
.not-fieled {
  color: $grey;
}

.icon.is-required {
  color: $danger;
}

.table-body.empty {
  border: 0;
  min-height: 40vh;

  tr {
    &:hover {
      background: transparent;
    }
  }
}

.no-products {
  font-size: 1.3rem;
  text-align: center;

  .not-fieled {
    font-weight: 700;
  }
}

.table-body.body-of-new-price:not(.empty) {
  tr {
    &.active-row {
      background: transparentize($green, .75);

      .input {
        border-color: $green;
      }

      &:hover {
        background: transparentize($green, .7) !important;
      }
    }

    &:hover {
      background: transparentize($green, .87);
    }
  }
}

.prices .message-to-login {
  margin-bottom: -30px;
  z-index: 1;
  position: relative;
  margin-top: 1rem;

  .message-body {
    color: $red;

    a {
      color: darken($red, 15%);
      border-color: darken($red, 15%);

      &:hover {
        color: darken($red, 30%);
        border-color: darken($red, 30%);
      }
    }
  }
}

@media screen and (max-width: 830px) {
  .products-list {
    width: calc(100% - 30px);
    float: right;
  }
}