$notification-trans-dur: .3s;
.notification-box {
  position: fixed;
  right: 2vw;
  top: 8vh;
  width: 300px;
  z-index: 2000;
}

.notification {
  margin-bottom: 1rem;
  opacity: .9;
  transform: none;
  transition: $notification-trans-dur;

  .delete {
    background-color: transparent;

    &:hover {
      background-color: rgba(0,0,0,.15);
    }
  }
}

// Notification animations

.notification-enter {
  opacity: 0 !important;
  transform: translateY(30px) !important;
}

.notification-leave {
  opacity: 0 !important;
  transform: translateY(-30px) !important;
}
