.notification-box {
  position: fixed;
  right: 2vw;
  top: 8vh;
  width: 300px;
  z-index: 2000;
}

.notification {
  margin-bottom: 1rem;

  .delete {
    background-color: transparent;

    &:hover {
      background-color: rgba(0,0,0,.15);
    }
  }
}

// Notification animations

$notification-trans-dur: .3s;
.notification-enter {
  .notification {
    transition: $notification-trans-dur;
    opacity: 0;
    transform: translateY(30px);
  }
}

.notification-enter.notification-etner-active {
  .notification {
    opacity: 1;
    transform: none;
  }
}

.notification-leave {
  .notification {
    transiton: $notification-trans-dur;
    opacity: 0;
  }
}

.notification-leave.notification-leave-active {
  .notification {
    opacity: 0;
  }
}