.price-content {
  padding-bottom: 3rem;
  transition: .3s;
  background: white;
  box-shadow: 0px 0px 0px 100vw rgba(0,0,0,0); // Hack for overlay;

  &.container {
    max-width: 960px;
  }

  .main-info {
    padding: 3rem 0 1rem;
  }

  .updated-at {
    float: right;
  }

  .price-title {
    margin-top: 0 !important; // For overlapping the bulma's rule
    margin-bottom: 1rem;
    font-size: 2.05rem;
    font-weight: 600;
    letter-spacing: 0.043rem;
    color: #555;
    z-index: 700;
  }

  .discount {
    font-size: 1.2rem;
    float: left;
    z-index: 700;

    &-value {
      font-weight: 600;
      color: $green;
    }
  }

  .currency {
    font-size: 1.2rem;
    float: right;

    &-value {
      font-weight: 600;
      color: $blue;
    }
  }

  .table {
    .number-column {
      text-align: center;
      z-index: 700;
    }

    .name-column {
      width: 65%;
      z-index: 700;
    }

    .unit-column {
      width: 20%;
      z-index: 700;
    }

    .cost-column {
      width: 10%;
      z-index: 700;
    }
  }

  .table-header {
    &:hover tr {
      background: transparent !important; // For overlapping the bulma's rule
    }

    th {
      font-weight: 400;
      // border-top: 1px solid #d3d6db;
      border-bottom: 1px solid #d3d6db;
    }
  }

  .table-body {
    border-left: 1px solid rgba(0, 0, 0, .12);
    border-right: 1px solid rgba(0, 0, 0, .12);
    border-bottom: 1px solid rgba(0, 0, 0, .12);

    tr {
      &:hover {
        background: #fafafb;
      }
    }

    td {
      border-bottom-color: rgba(0,0,0,.05)
    }
  }

  .editing { // For editing cells
    padding: 0;

    .input {
      height: 36px;
      padding-top: 1px;
      padding-bottom: 1px;
      border-radius: 0;
      border-color: $yellow;
      margin-left: -9px;
      padding-left: 18px;
    }

    &:last-child {
      .input {
        box-sizing: content-box;
        padding-bottom: 0;
        padding-right: 0;
        width: calc(100% - 10px);
        height: 100%;
      }
    }

    &:nth-child(2) {
      .input {
        margin-left: 0;
        padding-left: 9px;
        width: calc(100% - 7px);
      }
    }
  }
}

.price-content.edit-mode {
  z-index: 200;
  border: 3px solid $yellow;
  border-radius: 5px;
  transform: scale(1.05);
  box-shadow: 0px 0px 0px 100vw rgba(0,0,0,0.5);
  max-width: 960px;
  padding-bottom: 4rem;

  .price-title {
    .input {
      width: 80%;
      // margin-top: 0 !important; // For overlapping the bulma's rule
      // margin-bottom: 1rem;
      font-size: 2.05rem;
      font-weight: 600;
      letter-spacing: 0.043rem;
      color: #555;
      z-index: 700;
      margin-left: -9px;
      margin-top: -6px;
      margin-bottom: -6px;
      padding-top: 5px;
      padding-bottom: 4px;
      height: auto;
      border-radius: 0;
      border-color: $yellow;
    }
  }

  .updated-at {
    opacity: .2;
    transition: .3s;
  }

  .discount {
    .input {
      margin-top: -2px;
      margin-bottom: -6px;
      margin-left: 0;
      font-size: 1.2rem;
      z-index: 700;
      font-weight: 600;
      color: $green;
      width: 13%;
      height: auto;
      border-radius: 0;
      border-color: $yellow;
      background: transparent;
    }
  }

  .active-row {
    background: transparentize($yellow, .7);

    &:hover {
      background: transparentize($yellow, .6) !important;
    }
  }

  tr {
    &:hover {
      background: transparentize($yellow, .85);
    }
  }

  .table-body {
    tr {
      .controls {
        position: relative;
        float: left;

        .remove-button {
          position: absolute;
          top: 0;
          left: -40px;
          width: 30px;
          height: 30px;
          color: transparent;
          transition: .1s;
          cursor: pointer;

          i.fa:hover {
            color: $red;
          }
        }
      }

      &:hover {
        .remove-button {
          color: transparentize($red, .8);

          &:hover {
            color: $red;
          }
        }
      }
    }
  }


  .table-header {
    tr {
      .controls {
        position: relative;
        float: left;

        .add-button {
          position: absolute;
          top: 0;
          left: -40px;
          width: 30px;
          height: 30px;
          color: transparentize($green, .5);
          transition: .1s;

          i.fa {
            font-size: 20px; // Fix visual conflicts
            cursor: pointer;

            &:hover {
              color: $green;
            }
          }
        }
      }
    }
  }

  .new-product {
    background: transparentize($green, .87);

    &.active-row {
      background: transparentize($green, .75);

      .input {
        border-color: $green;
      }

      &:hover {
        background: transparentize($green, .7) !important;
      }
    }

    &:hover {
      background: transparentize($green, .75);
    }
  }

  .will-be-removed {
    background: transparentize($red, .98);
    color: transparentize($grey, .5);

    &:hover {
      background: transparentize($red, .95) !important;
      color: transparentize($grey, .85);

      .cancel-removing-btn {
        display: inline-block;
      }
    }

    .cancel-removing-btn {
      display: none;
      background: transparent;
      border: 0;
      position: absolute;
      top: 1px;
      right: calc(100% - 174px);
      color: darken($red, 5%);

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.price-content.edit-mode.has-error {
  input.input {
    border-color: $red !important;
  }
}

.will-remove-modal {
  transition: .3s;

  .modal-box {
    width: 430px;
    margin: 9vh auto 0;
    padding: 1rem;
    background: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 1000;
    text-align: center;
    position: fixed;
    top: 0;
    left: calc(50vw - 215px);

    &::before {
      content: '';
      position: absolute;
      top: -5px;
      left: 0;
      height: 5px;
      width: 100%;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      background: linear-gradient(to right, $yellow 0, $red 50%, $yellow 100%);
    }

    .question {
      padding-bottom: 1rem;
      margin-bottom: 1rem;
      border-bottom: 1px solid rgba(0, 0, 0, .1);

      p {
        font-size: 1.2rem;
        font-weight: 600;

        &:first-child {
          margin-bottom: 1rem;
        }

        &.sub-mess {
          font-weight: 400;
        }
      }
    }
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 900;
    background: rgba(0, 0, 0, .6);
  }
}


.fetching-error-box {
  .fetching-error-title {
    text-align: center;
    margin-top: 3rem;
    color: $grey-dark;
    line-height: 2.7rem;
  }
}