.login-page {
  padding: .1px;
  margin-bottom: -5px;

  &::before {
    content: '';
    display: block;
    height: 5px;
    background: linear-gradient(to right,#d9eaf9 0,#1fc8db 30%,#24e6ac 70%,#eaf7ff 100%);
  }

  .title {
    color: $text;
    text-align: center;
    margin-top: 3rem;
  }
  
  .site-name {
    color: $turquoise;
  }
}

.signing-box {
  margin: 20vh auto 10vh;
  padding: 1.5rem;
  border: 1px solid #fafafa;
  border-radius: 3px;
  width: 330px;
  background: rgb(254, 254, 255);
  position: relative;

  .site-logo {
    position: absolute;
    top: -150px;
    right: -20px;
    height: 200px;
    width: 200px;
    z-index: -2;
  }


  .input {
    margin-bottom: 1.2rem;
  }

  .button-box {
    display: block;
    margin: auto;
  }

  .divider {
    line-height: 32px;
    display: inline-block;
    margin: 0 .3rem;
  }
}