.login-page,
.register-page {
  padding: .1px;
  margin-bottom: -5px;

  &::before {
    content: '';
    display: block;
    height: 5px;
    background: linear-gradient(to right,#d9eaf9 0,#1fc8db 30%,#24e6ac 70%,#eaf7ff 100%);
  }

  .title {
    color: $text;
    text-align: center;
    margin-top: 3rem;
  }
  
  .site-name {
    color: $turquoise;
  }
}

.signing-box {
  margin: 20vh auto 10vh;
  padding: 1.5rem;
  border: 1px solid #fafafa;
  border-radius: 3px;
  width: 330px;
  background: rgb(254, 254, 255);
  position: relative;

  .site-logo {
    position: absolute;
    top: -150px;
    right: -20px;
    height: 200px;
    width: 200px;
    z-index: -2;
  }


  .input {
    margin-bottom: 1.2rem;
  }

  .button-box {
    display: block;
    margin: auto;
  }

  .divider {
    line-height: 32px;
    display: inline-block;
    margin: 0 .3rem;
  }
}

$transparent-white: rgba(255, 255, 255, .95);

.motivation-to-register {
  max-width: 700px;
  margin: 3rem auto 1rem;
  text-align: center;
  font-size: 1.6rem;
  position: fixed;
  z-index: 400;
  left: calc(50% - 350px);
  right: calc(50% - 350px);
  text-shadow: 0 0 15px $transparent-white;
}


.registration-form-box {
  max-width: 750px;
  margin: 11rem auto 0;
  box-sizing: content-box;
  padding: 1.5rem 3rem;
  background: $transparent-white;
  border-radius: $radius;

  &::before {
    content: '';
    display: block;
    width: 100vw;
    height: 220px;
    position: fixed;
    top: 5px;
    left: 0;
    z-index: 1;
    background: linear-gradient(180deg, $transparent-white 0%, transparent 100%);
  }

  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

.register-page {
  background: url(/*/static*//images/registration.jpg) no-repeat 50%;
  background-size: cover;
  height: 100vh;
}

.as-customer,
.as-company {
  text-align: center;
}

.choose-title {
  font-size: 1.4rem;
  margin-bottom: 1rem;
  text-align: center;
}

.part-title {
  text-align: center;
  font-size: 1.2rem;
}

.as-company,
.as-customer {
  float: left;
  width: 42%;
  margin-top: 50px;
}

.divider {
  float: left;
}

.choose-desc {
  min-height: 80px;
  margin: .5rem 0 1rem;
}


.as-company,
.as-customer {
  .choose-desc {
    text-align: left;
  }
}

$choose-margin: 7%;
.as-customer {
  margin-right: $choose-margin;
}

.as-company {
  margin-left: $choose-margin
}

.as-company-button,
.as-customer-button {
  margin: auto;
}

.button.as-company-button {
  background: #24e6ac;

  &:hover {
    background: darken(#24e6ac, 10%);
  }
}