@import '../../../node_modules/bulma/bulma.sass';
$bg-color: #fcfcff;
$trans-dur: .5s;
@import './appStyles/common';
@import './appStyles/prices';
@import './appStyles/newPrice';
@import './appStyles/price';

.content-container {
  max-width: 770px;
  margin: auto;
}

.new-price-form {
  padding: 1rem 0;

  .title {
    margin-bottom: 0;
    text-align: center;
    color: #999;
  }

  .product-form-title {
    margin-top: 10px;
    margin-bottom: 5px;
  }

  .columns.labels-row {
    margin-bottom: 8px;
  }

  .input-row {
    padding: 0 10px;

    .input {
      border-radius: 0;
    }

    .column {
      &:first-child {
        .input {
          border-top-left-radius: 3px;
          border-bottom-left-radius: 3px;
        }
      }

      &:last-child {
        .input {
          border-top-right-radius: 3px;
          border-bottom-right-radius: 3px;
        }
      }
    }
  }
}

.right-side {
  float: right;
}

.price-content {
  .price-title {
    padding: 3rem 0;
    font-size: 2.05rem;
    letter-spacing: 0.043rem;
    color: #555;
    border-bottom: 1px solid rgba(0,0,0,.12);
  }
}

.spinner {
  width: 30px;
  height: 30px;
  background: linear-gradient(to right, #1fc8db 0%, #24e6ac 100%);
  margin: 30px auto;
  animation: sk-rotateplane 3s infinite ease-in-out;
}

@keyframes sk-rotateplane {
  0%   { transform: perspective(90px) rotateX(0deg) rotateY(0deg); }
  25%  { transform: perspective(90px) rotateX(-180deg) rotateY(0deg); }
  50%  { transform: perspective(90px) rotateX(-180deg) rotateY(-180deg); }
  75%  { transform: perspective(90px) rotateX(-360deg) rotateY(-180deg); }
  100% { transform: perspective(90px) rotateX(-360deg) rotateY(0deg); }
}
