@import '../../../node_modules/bulma/bulma.sass';
$bg-color: #FCFCFF;

html {
  background: lighten($bg-color, 1%);
}

.main-container {
  margin-top: 30px;
}

.app {
  .header {
    margin-top: 5px;

    &::before {
      content: '';
      display: block;
      height: 5px;
      width: 100%;
      position: absolute;
      top: -5px;
      background: #d9eaf9;
      background: -moz-linear-gradient(left,  #d9eaf9 0%, #1fc8db 30%, #24e6ac 70%, #eaf7ff 100%);
      background: -webkit-linear-gradient(left,  #d9eaf9 0%,#1fc8db 30%,#24e6ac 70%,#eaf7ff 100%);
      background: linear-gradient(to right,  #d9eaf9 0%,#1fc8db 30%,#24e6ac 70%,#eaf7ff 100%);
    }

  }
}

.main-title {
  small {
    font-size: $size-5;
    color: $grey-light;
  }
}

.login-input {
  margin: $size-6 0;
}

.sign-up-link {
  background: transparent;
}

.signing-controlls {
  .header-item:first-child {
    padding-right: 0;
  }
}

.prices {
  .header-wrapper {
    background-color: $bg-color;
  }

  .price-list-header {
    max-width: 960px;
    margin: auto;

    .left-aside {
      padding-left: 0;
    }

    .center {
      padding-left: 0;
      padding-right: 0;
    }

    .create-new-button {
      margin-top: 4px;
      .fa {
        font-size: 14px;
        margin-right: 6px;
      }
    }

    .control.has-icon .input:focus+.fa {
      color: #1fc8db;
    }

    .search-input-icon {
      top: 12px;
      right: 12px;
      font-size: 19px;
    }
  }

  &.content {
    padding: 0 0 1rem;
  }

  .price-list-content {
    max-width: 700px;
    margin-top: 1rem;
    box-shadow: none;

    border: 1px solid #fafafa;
    background: #fefeff;
    transition: .5s;
    transform: translateY(50px);
    opacity: 0;
    padding: .5rem;

    &.showed {
      transform: none;
      opacity: 1;
    }
  }

$trans-dur: .05s;

  .price-item {
    width: 100%;
    padding: .7rem .7rem;
    margin: 0;
    transition: $trans-dur;
    border-bottom: 1px solid rgba(230, 230, 230, .8);
    position: relative;

    &:last-child {
      border: 0;
    }

    &:hover {
      background: #fefefe;
    }

    .title.link {
      display: inline-block;
      margin-bottom: .7rem;
      color: #1fc8db;
      transition: $trans-dur;
      cursor: pointer;

      &:hover {
        color: darken(#1fc8db, 10%);
      }
    }

    .count {
      margin-bottom: 0;
    }

    .updated-at {
      position: absolute;
      top: 0.7rem;
      right: 0.7rem;
    }
  }

  .new-header {
    padding: 10px;
    padding-left: 0;

    .button.is-primary {
      margin: 0 2%;

      .fa {
        font-size: 14px;
        margin-right: 6px;
      }
    }

    .icon-link {
      background: transparent;
      text-decoration: none;

      &:hover,
      &:active {
        background: rgba(230,230,230,.8);
      }

      .fa {
        font-size: 13px;
      }
    }
  }
}

.button.is-primary.is-medium {
  .fa {
    font-size: 18px;
    margin-right: 6px;
  }
}

.new-price-form {
  padding: 1rem 0;

  .title {
    margin-bottom: 0;
    text-align: center;
    color: #999;
  }

  .content-container {
    max-width: 700px;
    margin: auto;
  }

  .title.product-form-title {
    margin-top: 10px;
    margin-bottom: 5px;
  }

  .columns.labels-row {
    margin-bottom: 8px;
  }

  .input-row {
    padding: 0 10px;

    .input {
      border-radius: 0;
    }

    .column {
      &:first-child {
        .input {
          border-top-left-radius: 3px;
          border-bottom-left-radius: 3px;
        }
      }

      &:last-child {
        .input {
          border-top-right-radius: 3px;
          border-bottom-right-radius: 3px;
        }
      }
    }
  }
}
