@import '../../../node_modules/bulma/bulma.sass';
$bg-color: #FCFCFF;

html {
  background: $bg-color;
}

.container {
  // max-width: 1200px !important;
}

.main-container {
  margin-top: 30px;
}

.app {
  .header {
    margin-top: 5px;
    &::before {
      content: '';
      display: block;
      height: 5px;
      width: 100%;
      position: absolute;
      top: -5px;
      background: #d9eaf9; /* Old browsers */
      background: -moz-linear-gradient(left,  #d9eaf9 0%, #1fc8db 30%, #24E6AC 70%, #eaf7ff 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left,  #d9eaf9 0%,#1fc8db 30%,#24E6AC 70%,#eaf7ff 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right,  #d9eaf9 0%,#1fc8db 30%,#24E6AC 70%,#eaf7ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9eaf9', endColorstr='#eaf7ff',GradientType=1 ); /* IE6-9 */
    }

  }
}

.main-title {
  // text-align: center;

  small {
    font-size: $size-5;
    color: $grey-light;
  }
}

.login-input {
  margin: $size-6 0;
}

.sign-up-link {
  background: transparent;
}

.footer {
  // text-align: center;
}

.signing-controlls {
  .header-item:first-child {
    padding-right: 0;
  }
}

.prices {
  // .price-list-header {
  //   background-color: $bg-color;
  // }

  &.content {
    padding:1rem 0;
  }

  .left-aside,
  .right-asign {
    // padding: 0;
  }

  .price-item {
    width: 100%;
    padding: .3rem .7rem;
    margin-bottom: 1rem;
    transition: .15s;
    cursor: pointer;

    &:hover {
      background: $bg-color;
    }
  }
}
